*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    width: 400px;
    height: min-content;
    background-color: #fafafa;
    border-radius: 12px;
    padding: 30px;
}

.navbar {
    background-color: #1f1a1a;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.navbar-left h1 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-weight: bold; 
    transition: color 0.3s; 
    cursor: pointer;
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}

.navbar-left h1:hover {
    color: #aeff00;
    text-shadow: 0 0 10px rgba(6, 222, 45, 0.5);
}

.navbar-right a {
    color: #fffffe;
    text-shadow: 0 0 10px rgba(250, 125, 0, 0.5);
    text-decoration: none;
    margin-right: 5px;
    font-size: 19px;
    padding: 10px 15px;
    border-radius: 12px;
}

.navbar-right a:hover {
    color: #ffd700;
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.5);
}


.about-section {
    margin-top: 50px;
    color: #ffffff;
    margin-bottom: 10px;
}

.about-section h2 {
    font-size: 30px;
    text-align: center;
    color: #aeff00;
    text-shadow: 0 0 10px rgba(6, 222, 45, 0.5);
}

.about-section p {
    font-size: 20px;
    text-align: center;
}
.search-box{
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-box {
    width: 80%;
    font-size: 18px;
    text-transform: capitalize;
    color: #ffffff;
    background-color: #212121;
    padding: 10px 14px;
    border-radius: 12px;
}

.search-box input::placeholder {
    color: #fff;
}

.search-box button {
    width:44px;
    height:44px;
    background-color: #b9c20f;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}
.search-box button:hover{
    background-color: #d8c7c7;
}
.weather-body {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 20px;
}
.weather-body img{
    width: 60%;
}

.weather-box{
    margin-block: 20px;
    text-align: center;
}

.weather-box .temperature {
    font-size: 35px;
    font-weight: 800;
    position: relative;
}

.weather-box .temperature sup {
    font-size: 20px;
    position: absolute;
    font-weight: 600;
}

.weather-box .description {
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

.weather-details {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.humidity, .wind{
    display: flex;
    align-items: center;
}

.humidity {
    margin-left: 10px;
}

.wind-speed {
    margin-right: 10px;
}

.weather-details i{
    font-size: 30px;
}

.weather-details .text {
    margin-left: 10px;
    font-size: 15px;
}

.text span{
    font-size: 20px;
    font-weight: 600;
}

.location-not-found {
    margin-top: 20px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.location-not-found h1{
    font-size: 21px;
    color: #6b6b6b;
    margin-block-end: 15px;
}
.location-not-found img{
    width: 80%;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        padding: 10px;
    }

    .navbar-left h1 {
        font-size: 20px;
    }

    .navbar-right {
        margin-top: 10px;
    }

    .input-box {
        width: 70%;
        font-size: 14px;
    }

    #searchBtn {
        padding: 5px 10px;
        font-size: 16px;
    }

    .container {
        width: 90%;
        padding: 15px;
    }

    .about-container {
        padding: 15px;
    }
}

@media (max-width: 480px) {
    .navbar-left h1 {
        font-size: 18px;
    }

    .navbar-right a {
        margin-left: 10px;
        font-size: 14px;
    }

    .input-box {
        width: 100%;
    }

    #searchBtn {
        width: 50%;
        font-size:16px;
    }

    .weather-body {
        margin-block: 10px;
    }

    .location-not-found h1 {
        font-size: 18px;
    }
}
